# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
matplotlib==3.7.2
numpy==1.24.4
pandas==2.0.3
scipy=1.11.1
seaborn=0.12.2
law @ git+https://github.com/riga/law@673c2ac
